@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #22263D;
    color: #fff;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
}
.nav{
    padding: 21px;
}

.nav img {
    width: 13%;
    margin-right: 20px;
}

.nav-links {
    text-decoration: none;
    color: rgb(241, 241, 241);
    margin: 4px 15px; 
    flex: 1;
    text-align: center;
    transition: color 0.2s ease-out;
    text-transform: uppercase;
    white-space: nowrap; 
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
}
.nav-links:hover{
    color: rgba(241, 241, 241, 0.737);
}
.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content, .dropdown-content-sub {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 3px;
}

.dropdown-content a, .dropdown-content-sub a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-sub{
    border-left: 1px solid #52515161;
}
.dropdown-content a:hover, .dropdown-content-sub a:hover {
    background-color: #f1f1f1;
    color: red;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover,
.dropdown-submenu:hover .dropdown-content-sub {
    display: block;
}
.dropdown-content, .dropdown-content-sub{
    width: 141%;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-content-sub {
    top: 0;
    left: 100%;
}
.dropdown-content-sub2 {
    top: 0;
    left: 100%;
}

.dropdown-submenu :hover{
    .dropdown-content-sub-program{
        display: block;
    }
}
.dropdown-submenu:hover .dropdown-content-sub-program {
    display: block;
}
#alumni{
    width: 81%;
}
#academics{
    width: 161%;
}
#program{
    width: 88%;
}
#undergraduate{
    position: absolute;
    top: 0%;
    border-radius: 4px;
    width: 246%;
}
#postgraduate{
    border-radius: 4px;
    width: 144%;
}
#foundation{
    position: absolute;
    top: 66%;
    border-radius: 4px;
    width: 180%;
}
#admission{
    width: 219%;
}
#std-life{
    width: 182%;
}
#desk{
    width: 140%;
}
#newsandgallery{
    width: 120%;
}
#std-work{
    width: 110%;
}
#contact{
    width: 137%;
}
.dropdown-content-sub-box{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-transform: uppercase;
    font-size: 14px;
    border-left: 1px solid #52515161;
    width: 119%;
    top: 33%;
    left: 100%;
}

.dropdown-content-sub-box a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-subbox a :hover{
    background-color: #f1f1f1;
    color: red;
}
.dropdown-submenu-2 :hover{
    .dropdown-content-sub-box{
        display: block;
    }
}

.dropdown-submenu-2:hover .dropdown-content-sub-box {
    display: block;
}

#pay{
    width: 5%;
    white-space:unset;
    flex: 0;
    margin-right: 32px;
    text-align: left;
}
video{
    width: 100%;
}
#button{
    position: absolute;
    left: 43%;
    top: 47%;
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 16px 27px;
}
.button :hover{
    background-color: white;
}
#button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #ffffffad;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 18px 35px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   #button:disabled {
    pointer-events: none;
   }
   
   #button:hover {
    color: #fff;
    background-color: #302e467a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   #button:active {
    box-shadow: none;
    transform: translateY(0);
   }
   #button a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: white;

   }
.image-section img{
    width: 100%;
    height: 532px;
}
.image-section {
    position: relative;
    width: 100%;
    max-width: 100%; 
}

.image-section img {
    width: 100%;
    height: auto;
}

.heading-text {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #25221d33, #463f548c);
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    width: 59%;
    font-family: "Montserrat", sans-serif;
}
.heading-text h1{
    color: whitesmoke;
}
.heading-text2{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #25221d33, #463f548c);
    padding: 20px;
    border-radius: 10px;
    font-size: 29px;
    font-family: "Montserrat", sans-serif;
}

.heading-text3{
    position: absolute;
    top: 82.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: linear-gradient(90deg, #25221d33, #463f548c);
    padding: 20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    font-size: 29px;
    font-family: "Montserrat", sans-serif;
}
.heading-text3 #p1{
    margin-bottom: 20px;
}
.blue-rec-section{
    margin-left: 8vw;
}
.blue-rec{
    width: 39%;
    background-color: #22263D;
    margin-left: 67px;
    padding: 18.6%;
    border-radius: 22px;
    margin-top: 4vw;
}
#blue-rec-img{
    width: 39%;
    position: absolute;
    left: 19%;
    margin-top: -31vw;
    border-radius: -17px;
}
.blue-rec-2{
    width: 42%;
    background-color: #22263D;
    margin-left: 67px;
    padding: 17%;
    border-radius: 22px;
    margin-top: -28vw;
    margin-left: 35vw;
    z-index: 1;
    position: absolute;
    padding-bottom: 51px;
}
#blue-rec-2-txt{
    width: 104%;
    color: rgb(241, 241, 241);
    font-family: "Montserrat", sans-serif;
}
#blue-rec-2-txt .line{
    width: 42%;
    padding: 1.7px;
    background-color: red;
    margin-top: 14px;
}
#blue-rec-2-txt h1{
    width: 460%;
    font-size: 18px;
    margin-left: -14vw;
    margin-top: -13vw;
}
#blue-rec-2-txt p{
    margin-top: 2vw;
    width: 447%;
    font-size: 22px;
    margin-left: -14vw;
}

.button{
    margin-left: -14vw;
    margin-top: 2vw;
    padding: 12px;
    --bg: #5b638f;
    --hover-bg: #ffffff;
    --hover-text: #000;
    color: #000;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.8em 1em;
    background: #ffffff;
    transition: 0.2s;
    text-transform: uppercase;
  }
  .button a{
    text-decoration: none;
    color: #000;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }
#object{
    position: absolute;
    top: 57%;
    left: 59%;
}
.why-choose-section{
    margin-top: 24%;
}
.why-choose-section h1{
    text-align: center;
    margin-top: 4vw;
    color: white;
    font-family: "Montserrat", sans-serif;
}
.why-choose-section .line{
    border-radius: 0.6px;
    margin-top: 12px;
    left: 35%;
    padding: 1.3px;
    background-color: red;
    width: 10%;
    position: relative;
    align-content: center;
}
.why-choose-section p{
    font-size: 2vw;
    color: white;
    width: 81%;
    text-align: center;
    margin-left: 7vw;
    margin-top: 3vw;
}
#why-choose-div{
display: flex;
background-color: #22263D;
margin-top: 3vw;
padding-bottom: 3vw;
}
#why-choose-div h1{
    font-size: 17px;
}
#why-choose-div p{
    margin-left: 54px;
    font-size: 17px;
}
#div0{
    margin: 0px 187px;
    padding: 1px 1px 49px 0px;
    background: #22263D;
    border-radius: 10px;
}
#div1 p{
    text-align: left;
    width: 87%;
    margin-left: 27px;
}

#div2 p{
    text-align: left;
    width: 83%;
    margin-left: 42px;
}
#div3 p{
    text-align: left;
    margin-left: 30px;
    width: 92%;
}
#div4{
    margin-left: 17px;
}
#div4 p{
    text-align: left;
    margin-left: 18px;
    width: 89%;
}
.graduation-rate{
    display: flex;
    margin-top: 4vw;
    width: 100%;
    height: 12vw;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.69)), url(images/newton-hall.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: fill;
    object-position: bottom 10px right 20px;
    justify-content: center;
    font-size: 22px;
    gap: 1%;
    padding-top: 4vw;
    color: whitesmoke;
    padding-bottom: 54px;
}

.graduation-txt1{
    margin-right: 2vw;
    align-content: center;
    font-weight: 600;
}
.rate{
    font-size: 3vw;
    font-weight: 600;
}
.rate-txt{
    width: 24%;
}
.rate-txt2{
    align-content: center;
}
.program{
    height: 74vw;
    background-color: #22263D;
}
.program h1{
    padding-top: 5vw;
    text-align: center;
    color: whitesmoke;
}
.program .line{
    background-color: red;
    padding: 2px;
    width: 15%;
    position: relative;
    left: 42%;
    top: 1.4%;
}
.explore .line{
    background-color: red;
    padding: 2px;
    width: 39%;
    position: relative;
    left: 29%;
    top: 3%;
}
.ba .line{
    left: 32%;
}
.program h2{
    margin-top: 9vw;
    margin-left: 3vw;
    color: whitesmoke;
}
.explore{
    display: flex;
    gap: 9%;
    padding: 3vw;
    margin-top: 1vw;
}
.explore div{
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.cc{
    width: 42%;
    padding-bottom: 24px;
    background-color: white;
}
.cc img{
    width: 100%;
    background-color: white;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.cc h1, .msc h1, .ba h1{
    margin-top: 22px;
    padding-top: 0;
    font-size: 17px;
    color: #000;
}
.cc .txt{
    margin-top: 3vw;
    font-size: 18px;
    text-align: center;
    color: rgb(0, 0, 0);
}
.msc{
    width: 42.4%;
    background-color: white;
}
.msc img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.msc .txt{
    font-size: 17px;
    margin-top: 3vw;
    text-align: center;
}
.ba{
    width: 41%;
    background-color: white;
    padding-bottom: 28px;
}
.ba img{
    width: 100%;
    height: 58%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.ba .txt{
    font-size: 17px;
    margin-top: 3vw;
    text-align: center;
    color: rgb(0, 0, 0);
}
.explore div:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.program button{
    margin-left: 0;
    position: relative;
    left: 45%;
    text-transform: uppercase;
    padding: 17px 17px
}


.scholarships {
    height: 27vw;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.69)), url(images/newton-hall.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    padding: 20px;
    
}
.scholarships h1 {
    margin-top: 3vw;
    padding: 10px 0;
}
.scholarships p {
    margin: 10px 0 20px;
    font-size: 24px;
    width: 98%;
}
.scholarships button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 1.5%;
    margin-top: 1vw;
}
.scholarships button a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}
.scholarships button:hover {
    background-color: #ffffffd9;
}
.test-div{
    position: relative;
    margin-top: 5vw;
}
.test-blue{
    width: 60%;
    background-color: #22263D;
    height: 31rem;
    border-top-right-radius: 10px; 
}
.test-white{
    position: absolute;
    height: 27rem;
    width: 60%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    left: 8%;
    top: 20%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.test-white h1{
    margin-top: 4vw;
    font-size: 19px;
    margin-left: 32px;
}
.test-white .line{
    background-color: red;
    height: 2px;
    width: 15%;
    margin-left: 32px;}
.test-white p{
    margin-top: 13px;
    font-size: 22px;
    width: 41%;
    margin-left: 32px;
}
.test-blue2{
    width: 60%;
    background-color: #22263D;
    height: 33rem;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 30%;
    left: 40%;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
    overflow: hidden;
}


.nav-buttons {
    display: flex;
    left: 78%;
    gap: 6%;
    /* justify-content: space-between; */
    position: absolute;
    top: 21%;
    width: 26%;
    transform: translateY(-50%);
}
.nav-buttons button {
    background-color: #22263D;
    font-size: 28px;
    color: white;
    border: none;
    padding: 2px 19px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.nav-buttons button:hover {
    background-color: #3B3F5C;
}
.inside-blue{
    position: absolute;
    top: 10%;
    left: 17%;
    width: 78%;
    background-color: white;
    height: 82%;
    border-radius: 10px;
}
.inside-blue h1{
    margin-left: 15vw;
    margin-top: 3vw;
}
.inside-blue .line{
    background-color: red;
    height: 3px;
    width: 11%;
    margin-left: 20vw;
    margin-top: 6px;
    border-radius: 2px;
}
.inside-blue h2{
    margin-left: 10vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    color: #000000ad;
}
.inside-blue p{
    width: 91%;
    margin-left: 3vw;
    font-size: 21px;
}
.test-blue2 img {
    position: absolute;
    z-index: 1;
    width: 22%;
    margin-top: 2vw;
    margin-left: 3vw;
    border-radius: 11px
}
.news{
    margin-top: 27vw;
    position: relative;
    margin-bottom: 132px;
}
.news p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 13px;
}
.news h1{
    text-align: center;
    font-weight: 400;
}
.news img{
    position: absolute;
    top: -92%;
    z-index: -1;
    left: 38%;
    width: 23%;
}
.news .line{
    border-radius: 2px;
    margin-top: 6px;
    left: 44%;
    position: absolute;
    height: 2.2px;
    background-color: red;
    width: 11%;
}
.news-div-1{
    margin-top: 5%;
    display: flex;
    width: 84%;
    gap: 15%;
    margin-left: 10%;
}
.news-div-1 img{
    width: 100%;
    height: 51%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.box-1, .box-2{
    height: 620px;
    width: 39%;
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.box-1{
    height: 626px;
}
.box-1 h1,.box-2 h1{
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 6px;
}
.box-1 .line, .box-2 .line {
    width: 91%;
    height: 1.4px;
    background-color: black;
    margin-left: 6px;
}
.box-1 #news-p{
    padding-bottom: 80px;
}
#news-p-2{
    padding-bottom: 5px;
}
#news-p-3{
    margin-bottom: 37px;
}
.box-1 p, .box-2 p{
    margin-top: 16px;
    font-size: 15px;
    margin-left: 6px;
    width: 96%;
}
.box-2{
    height: 11%;
}
.date{
    display: flex;
    gap: 39%;
    margin-bottom: 23px;
}
.date p {
    font-size: 13px;
}
.box-1:hover, .box-2:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.news-section button{
    margin-top: 53px;
    border-radius: 5px;
    padding: 16px 19px;
    position: absolute;
    left: 44%;
    background-color: #22263D;
    transition: background-color 0.3s, transform 0.3s;
    border: none;
}
.news-section button a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.news-section button:hover {
    background-color: #3B3F5C;
    transform: scale(1.05);
}
.questions{
    margin-top: 17%;
    background-color: #22263D;
}
.top-txt{
    text-align: center;
    color: whitesmoke;
    padding-top: 37px;
    font-size: 84%;
}
.top-txt h2{
    font-weight: 500;
}
.top-txt h1{
    font-weight: 600;
}

